@using FBChamp.Web.Areas.Admin.Controllers.Models.Players;
@model EntityPageModel<PlayerModel>
@{
    ViewBag.Title = "Players";
}
<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <page-list model="@Model.List" page-url-filter="@Model.Filter" >
                </page-list>
            </div>
            <div class="col-md-auto">
                <form asp-action="@ViewBag.FilterAction" method="get">
                    <div class="input-group">
                        <input class="bg-light form-control border-0 small" name="filter" placeholder="Search for ..." type="search" value="@Model.Filter"/>
                        <button class="btn btn-primary py-0" type="submit" title="Search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive table mt-2">
            <table class="table my-0" id="dataTable">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Number</th>
                    <th>Action</th>
                 </tr> 
                </thead>
                <tbody>
                @foreach (var playerModel in Model.List.Items)
                {
                    <tr style="vertical-align: middle;">
                        <td>
                            <div>
                                 <partial name="_Photo" model="@playerModel.PhotoString" />
                            </div>
                        </td>
                        <td>@playerModel.Player.FullName</td>                        
                        <td>@playerModel.CurrentTeam</td>
                        <td>@playerModel.Position</td>
                        <td>@playerModel.PlayingNumber</td>
                        <td>
                            @{
                               ViewBag.InfoAction = "PlayerProfile";
                               ViewBag.UnassignAction = "UnassignPlayer";
                               <partial name="_ActivityPanel" model="@playerModel.Player.Id" />
                             }    
                        </td>
                    </tr>
                }
                </tbody>              
            </table>
        </div>
        <div class="row">
            <div class="col">
                <page-list model="@Model.List" page-url-filter="@Model.Filter">
                </page-list>
            </div>
            <div>
                <partial name="_ShowFromToLabel" model="@Model.List" />
            </div>
        </div>
    </div>
</div>